- load "docs/haml/helpers.rb"
- component = "Toggle Switch"

/ Start writting the documentation here
%h1= component

%h2 Example
= render_source_code component

%p Here is some simple documentation for the #{component.downcase} uxkit component.