footer {
    margin-top: 3em;
    padding: 5em 1em;
    color: rgba(white, 0.4);
    text-align: center;
    background: linear-gradient(150deg, rgb(100, 100, 100), rgb(50, 50, 50));

    a { color: inherit; }
}