$header-hamburger-slice-height: 0.15em;
$header-hamburger-border-radius: 0.15em;
$header-hamburger-width: 2em;
$header-hamburger-height: 1.4em;

.page-header {
    padding: 6em 1em 4em;
    background: linear-gradient(15deg, rgb(42, 87, 199), rgb(107, 164, 255));
    color: white;
    transition: all 0.3s ease;
    width: 100%;
    position: relative;

    &.small {
        position: fixed;
        top: 0; left: 0;
        z-index: 15;
        display: flex;
        padding: 1em 1em 1.2em;
        transform: translateY(-100%);

        &.active {
            transform: translateY(0);
        }

        > * {
            position: relative;
            top: 0; left: 0;
            flex-grow: 0;
        }

        h1 {
            flex: 1;
            font-size: 2em;
            line-height: 0.7;
            margin: 0;
            margin-left: 1rem;
        }

        h2 { display: none; }

        .page-icon {
            display: none;
        }
    }

    h1 { font-weight: 100; margin: 0; font-size: 3em; text-align: center; }
    h2 { font-weight: 100; margin: 1em 0 0; opacity: 0.7; font-size: 1.5em; text-align: center; }

    nav {
        position: absolute;
        top: 1em; left: 1em;

        ul { list-style: none; padding: 0; margin: 0; }

        a {
            display: block;
            height: $header-hamburger-height;
            width: $header-hamburger-width;
            color: transparent;
            position: relative;
            text-indent: -5000px;
        }

        span {
            background-color: white;
            display: block;
            height: $header-hamburger-slice-height; width: 100%;
            position: absolute;
            top: 50%; left: 0;
            margin-top: (-0.5*$header-hamburger-slice-height);
            border-radius: $header-hamburger-border-radius;

            &:after,
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: $header-hamburger-slice-height;
                position: absolute;
                left: 0;
                background-color: white;
                border-radius: $header-hamburger-border-radius;
            }

            &:after {
                bottom: (-1*($header-hamburger-height*0.5 - $header-hamburger-slice-height*0.5));
            }

            &:before {
                top: (-1*($header-hamburger-height*0.5 - $header-hamburger-slice-height*0.5));
            }
        }
    }
}

.page-icon {
    // height: 1.5em; width: 1.5em;
    // background-size: cover;
    // background-repeat: no-repeat;
    // display: inline-block;
    // margin-bottom: -0.4em;

    // &.toggle-switch-icon { background-image: url(../img/toggle-switch-light.png); }
    // &.notification-ios-icon { background-image: url(../img/notification-light.png); }
}
