.main-content {
    transition: transform 0.3s ease;
    position: relative;
    z-index: 10;
    background-color: white;
}

.sidebar {
    width: $sidebar-width;
    min-width: $sidebar-min-width;
    background-color: rgb(247, 247, 247);
    font-weight: 400;
    border-right: 1px solid rgba(black, 0.07);
    z-index: 5;

    @include after($sidebar-switcher) {
        transform: translateX(0);
    }

    ul {
        list-style: none;
        margin: 1em 0 0;
        padding-left: 1em;
    }

    .sidebar-section {
        border-top: 1px solid rgba(black, 0.07);
        padding: 1.25em 1em 1.4em;
        font-size: 0.9em;
        background-color: rgb(247, 247, 247);

        &:first-of-type {
            background-color: white;
        }

        &:last-of-type {
            border-bottom: 1px solid rgba(black, 0.07);
        }
    }

    h1 {
        font-weight: 300;
        margin-left: 1rem;
        font-size: 1.8em;
    }

    h3 {
        margin: 0;
        font-weight: 300;
    }

    li > * {
        display: block;
        padding: 0.25em 0;
        color: gray;
    }

    .current-page {
        font-weight: 600;
        color: black;
    }

    a {
        text-decoration: none;
        font-weight: 300;
    }
}
