%div.notification-device
    %div.notification-ios
        %div.notification-wrapper
            %div.notification-content
                %div.notification-icon
                %h3 Brian Ingram
                %p Where are you?
            %div.notification-actions
                %div.notification-action.button
                    %button{:"tab-index" => "0"} Mark as Read
                %div.notification-action.button
                    %button{:"tab-index" => "0"} Reply
                / %div.notification-action.text
                /     %input{type: "text", placeholder: "Message"}
                / %div.notification-action.submit
                /     %input{type: "submit", value: "Send"}
            %div.notification-handle