%div.notification-device
    %div.notification-mac
        %div.notification-wrapper
            %div.notification-content
                %div.notification-icon
                %div.notification-text
                    %h3 Alan Sauv&eacute;'s Birthday
                    %h4 Tomorrow, 12:00AM
            %div.notification-actions
                %div.notification-action
                    %button Close
                %div.notification-action
                    %button Snooze