.component:after,
.example-component:not(.no-css) .message-bubble-container:after,
.example-component:not(.no-css) .message-bubble-date-section:after {
  content: '';
  display: block;
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

::-moz-selection {
  background-color: #578cff;
  color: white;
}

::selection {
  background-color: #578cff;
  color: white;
}

.component {
  margin-top: 5em;
}

.components {
  width: 100%;
  background-color: white;
  padding: 1em 0 0;
}

.components:after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (min-width: 48em) {
  .main-content {
    width: 75%;
    margin-left: 25%;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.code-information h3,
.summary h3,
.example-components > h3 {
  margin: 0;
  padding: 1rem;
  margin-top: 3rem;
  font-weight: 300;
  font-size: 2em;
  color: #578cff;
  line-height: 1;
  border-bottom: 2px solid;
}

.code-information h4,
.summary h4,
.playground h4 {
  font-weight: 300;
  margin: 1em 0 0.5em;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1em;
}

.api .code-information h4,
.api
  .summary h4,
.api
  .playground h4 {
  padding: 1rem 1rem 0;
}

.code-information p,
.summary p {
  font-weight: 300;
  line-height: 1.4;
  color: #3c3c3c;
}

.code-information p code,
.summary p code {
  display: inline-block;
}

.code-information h4,
.summary h4 {
  font-weight: 300;
  margin: 1em 0 0.5em;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1em;
}

.api .code-information h4,
.api
  .summary h4 {
  padding: 1rem 1rem 0;
}

.code-information h5,
.summary h5 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
  margin: 0;
  padding: 0 1rem;
}

.alias .code-information h5,
.alias
  .summary h5 {
  font-style: italic;
  color: rgba(0, 0, 0, 0.25);
}

.alias .code-information h5 .return-type,
.alias
    .summary h5 .return-type {
  color: rgba(0, 0, 0, 0.15);
}

.code-information h5 .return-type,
.summary h5 .return-type {
  color: rgba(0, 0, 0, 0.25);
  display: inline-block;
  font-weight: 400;
}

.api .api-method .description,
.api .api-attribute .description {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.8);
}

.api .api-method-argument {
  font-size: 0.9em;
}

.api .api-method-argument .description {
  color: rgba(0, 0, 0, 0.4);
}

.main-content {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 10;
  background-color: white;
}

.sidebar {
  width: 25%;
  min-width: 12em;
  background-color: #f7f7f7;
  font-weight: 400;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  z-index: 5;
}

@media screen and (min-width: 48em) {
  .sidebar {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.sidebar ul {
  list-style: none;
  margin: 1em 0 0;
  padding-left: 1em;
}

.sidebar .sidebar-section {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  padding: 1.25em 1em 1.4em;
  font-size: 0.9em;
  background-color: #f7f7f7;
}

.sidebar .sidebar-section:first-of-type {
  background-color: white;
}

.sidebar .sidebar-section:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.sidebar h1 {
  font-weight: 300;
  margin-left: 1rem;
  font-size: 1.8em;
}

.sidebar h3 {
  margin: 0;
  font-weight: 300;
}

.sidebar li > * {
  display: block;
  padding: 0.25em 0;
  color: gray;
}

.sidebar .current-page {
  font-weight: bold;
  color: black;
}

.sidebar a {
  text-decoration: none;
}

.page-header {
  padding: 10em 1em 2em;
  background: -webkit-linear-gradient(60deg, #6ba4ff, #2a57c7);
  background: linear-gradient(30deg, #6ba4ff, #2a57c7);
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  position: relative;
}

.page-header.small {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 1em 1.2em;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.page-header.small.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.page-header.small > * {
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex: 0;
  flex-grow: 0;
}

.page-header.small h1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 2em;
  line-height: 0.7;
  margin: 0;
  margin-left: 1rem;
}

.page-header.small .page-icon {
  display: none;
}

.page-header h1 {
  font-weight: 200;
  margin: 0;
  font-size: 3em;
}

.page-header nav {
  position: absolute;
  top: 1em;
  left: 1em;
}

.page-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header nav a {
  display: block;
  height: 1.4em;
  width: 2em;
  color: transparent;
  position: relative;
  text-indent: -5000px;
}

.page-header nav span {
  background-color: white;
  display: block;
  height: 0.15em;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.075em;
  border-radius: 0.15em;
}

.page-header nav span:after,
.page-header nav span:before {
  content: '';
  display: block;
  width: 100%;
  height: 0.15em;
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 0.15em;
}

.page-header nav span:after {
  bottom: -0.625em;
}

.page-header nav span:before {
  top: -0.625em;
}

.page-icon {
  position: absolute;
  bottom: -1em;
  right: -1.5em;
  height: 8em;
  width: 8em;
  border-radius: 4em;
  background: -webkit-linear-gradient(60deg, #6ba4ff, #2a57c7);
  background: linear-gradient(30deg, #6ba4ff, #2a57c7);
  -webkit-box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.15);
  border: 2px solid white;
}

.page-icon div {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-icon .toggle-switch-icon {
  background-image: url(../img/toggle-switch-light.png);
}

.page-icon .notification-ios-icon {
  background-image: url(../img/notification-light.png);
}

p code {
  background-color: #bebebe;
  border-radius: 1.25em;
  color: white;
  padding: 0 0.5em 0.1em;
  margin-top: -0.1em;
  font-size: 1.05em;
}

.requirements {
  display: none;
}

.requirements.active {
  display: block;
}

.component-actions {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.component-actions.fixed {
  border-bottom: 2px solid #578cff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.component-actions button {
  padding: 1em 1em;
  width: 8em;
  background: none;
  border: none;
  font-size: 0.8em;
  color: gray;
  display: inline-block;
}

.component-actions button:active,
.component-actions button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.component-actions button:active,
.component-actions button.active {
  color: #578cff;
}

.component-action-icon {
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 0.5em;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.source .component-action-icon {
  background-image: url(../img/source-code.png);
}

.api .component-action-icon {
  background-image: url(../img/api.png);
}

.requires .component-action-icon {
  background-image: url(../img/requires.png);
}

.download .component-action-icon {
  background-image: url(../img/download.png);
}

button:active.source .component-action-icon,
.active.source .component-action-icon {
  background-image: url(../img/source-code-selected.png);
}

button:active.api .component-action-icon,
.active.api .component-action-icon {
  background-image: url(../img/api-selected.png);
}

button:active.requires .component-action-icon,
.active.requires .component-action-icon {
  background-image: url(../img/requires-selected.png);
}

button:active.download .component-action-icon,
.active.download .component-action-icon {
  background-image: url(../img/download-dark.png);
}

.source-code .source-code-language {
  padding-top: 3em;
}

.source-code .source-code-html,
.source-code .source-code-css,
.source-code .source-code-js {
  max-height: 15em;
  overflow: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding: 1em;
  background-color: #f7f7f7;
}

.source-code h3 {
  margin: 0;
  padding: 1rem;
  font-weight: 300;
  font-size: 2em;
}

.source-code pre {
  margin: 0;
  font-size: 1.1em;
}

.api h3,
.api h4,
.api h5 {
  position: relative;
}

.api .api-class.hidden h3 .section-hide {
  opacity: 1;
}

.api .api-method {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding-bottom: 1em;
}

.api .api-method:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.api .api-method.hidden {
  padding-bottom: 0;
}

.api .api-method.hidden > *:not(h4):not(h5) {
  display: none;
}

.api .api-method.hidden + .api-method {
  margin-top: 0;
}

.api .api-method.hidden + .api-method h5 {
  border-top: none;
}

.api .api-method.hidden .section-hide {
  opacity: 1;
}

.api .api-method.hidden h5 {
  border: none;
}

.api .api-method .description:last-child {
  margin-bottom: 0;
}

.api .api-method.alias h5 {
  background-color: #fcfcfc;
}

.api .api-method.alias h5 .section-hide {
  background-color: #fcfcfc;
}

.api .api-method h5 {
  background-color: #f7f7f7;
  padding: 0.5em 1rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.api .api-method h5 .section-hide {
  background-color: rgba(247, 247, 247, 0.8);
}

.api .api-method h5 .return-type {
  color: rgba(0, 0, 0, 0.25);
}

.api .api-method-argument .argument-key-details {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  padding: 0.5em 1rem;
  margin: 2em 0 1em;
}

.api .api-method-argument .argument-name,
.api .api-method-argument .argument-type {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

.api .section-hide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  border: none;
  padding: 0 0.5em 0 1em;
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.15);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.api .section-hide:focus,
.api .section-hide:hover,
.api .section-hide:active {
  outline: none;
  opacity: 1;
}

.api .description {
  padding: 0 1rem;
}

.api-class {
  margin-top: 3em;
}

.api-class:first-of-type {
  margin-top: 0;
}

.api-method {
  margin-top: 1em;
}

.api-method:first-of-type {
  margin-top: 0;
}

.api:not(button),
.source-code:not(button) {
  display: none;
}

.api:not(button).active,
.source-code:not(button).active {
  display: block;
}

h3 button {
  border: none;
  background: none;
  color: #e1e1e1;
  border-radius: 1em;
  display: inline-block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  vertical-align: middle;
}

h3 button:active,
h3 button:focus {
  outline: none;
}

h3 button:hover {
  color: #c8c8c8;
}

.example-component {
  padding: 1em;
  min-height: 6em;
}

.summary {
  padding: 0 1rem;
}

.summary p:first-child {
  font-size: 1.3em;
  line-height: 1.3;
}

.summary p code {
  background-color: #578cff;
}

.playground {
  font-size: 1.1em;
  background-color: #f7f7f7;
  margin-bottom: 3rem;
}

.playground-output {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  padding: 1rem;
  height: 8rem;
  overflow: scroll;
}

.playground-output .initial-variables {
  color: rgba(0, 0, 0, 0.3);
}

.playground-output pre {
  margin: 0;
}

.playground-input {
  width: 100%;
  border: none;
  font-size: 1em;
  padding: 1rem;
  background: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  font-family: monospace;
}

.playground-input:focus {
  outline: none;
}

.example-commands {
  padding: 1rem;
  background-color: white;
}

.example-commands button {
  border: none;
  background: #f3f3f3;
  border-radius: 1.5em;
  color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0 0 0.5em;
}

.example-commands button:focus,
.example-commands button:hover {
  outline: none;
  color: white;
  background: #b4b4b4;
}

.example-commands button:active {
  background: #578cff;
  color: white;
  outline: none;
}

footer {
  margin-top: 3em;
  padding: 5em 1em;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  background: -webkit-linear-gradient(300deg, #646464, #323232);
  background: linear-gradient(150deg, #646464, #323232);
}

footer a {
  color: inherit;
}

.download-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 1em 1em 0;
}

.download-links > *:not(:first-child) {
  margin-left: 0.5em;
}

.download-image {
  width: 15%;
  padding-bottom: 15%;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0;
  flex-shrink: 0;
  background-image: url(/img/download.png);
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  height: 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.download-link {
  border: 1px solid gainsboro;
  text-decoration: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  vertical-align: center;
  padding: 0.5em;
  border-radius: 0.25em;
  font-size: 0.9em;
  color: gray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.download-link span {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
}

.download-link:focus,
.download-link:active,
.download-link:hover {
  background-color: #578cff;
  color: white;
  border-color: #578cff;
}

.example-component:not(.no-css) .example-device:before,
.example-component:not(.no-css) .example-device-ratiometer:before,
.example-component:not(.no-css) .example-device-ratiometer:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
}

.example-component:not(.no-css) .example-device {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 15em;
  -webkit-transition-property: max-width;
  transition-property: max-width;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

@media screen and (min-width: 30em) {
  .example-component:not(.no-css) .example-device.device-transform {
    max-width: 25em;
  }
}

.example-component:not(.no-css) .example-device.device-ipad {
  max-width: 25em;
}

.example-component:not(.no-css) .example-device:before {
  width: 2.6em;
  height: 0.6em;
  border-radius: 0.3em;
  margin-left: -1.3em;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

@media screen and (min-width: 30em) {
  .example-component:not(.no-css) .example-device.device-transform:before {
    opacity: 0;
  }
}

.example-component:not(.no-css) .example-device.device-ipad:before {
  opacity: 0;
}

.example-component:not(.no-css) .example-device * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.example-component:not(.no-css) .example-device-ratiometer {
  width: 100%;
  border-radius: 2em;
  overflow: hidden;
  position: relative;
  padding-bottom: 210.82251%;
  -webkit-transition-property: padding-bottom;
  transition-property: padding-bottom;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

@media screen and (min-width: 30em) {
  .device-transform .example-component:not(.no-css) .example-device-ratiometer {
    padding-bottom: 133%;
  }
}

.device-ipad .example-component:not(.no-css) .example-device-ratiometer {
  padding-bottom: 133%;
}

.example-component:not(.no-css) .example-device-ratiometer:before,
.example-component:not(.no-css) .example-device-ratiometer:after {
  border-radius: 100%;
}

.example-component:not(.no-css) .example-device-ratiometer:before {
  height: 0.6em;
  width: 0.6em;
  margin-left: -0.3em;
}

.example-component:not(.no-css) .example-device-ratiometer:after {
  height: 2.4em;
  width: 2.4em;
  margin-left: -1.2em;
}

.example-component:not(.no-css) .example-device-content-wrapper {
  position: absolute;
  top: 12.31527%;
  bottom: 12.31527%;
  left: 4.93185%;
  right: 4.93185%;
  padding: 0;
  background-color: white;
}

@media screen and (min-width: 30em) {
  .device-transform .example-component:not(.no-css) .example-device-content-wrapper {
    top: 3em;
    bottom: 3em;
    left: 0.75em;
    right: 0.75em;
  }
}

.device-ipad .example-component:not(.no-css) .example-device-content-wrapper {
  top: 3em;
  bottom: 3em;
  left: 0.75em;
  right: 0.75em;
}

.example-component:not(.no-css) .example-device-content {
  height: 100%;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.example-component:not(.no-css) .example-device.style-flat .example-device-ratiometer {
  background-color: #3c3c3c;
}

.example-component:not(.no-css) .component:after,
.example-component:not(.no-css) .message-bubble-container:after,
.example-component:not(.no-css) .message-bubble-date-section:after {
  content: '';
  display: block;
  clear: both;
}

.example-component:not(.no-css) .message-bubble-container {
  border: 1px solid black;
  padding: 1em;
  overflow: hidden;
}

.example-component:not(.no-css) .message-bubble,
.example-component:not(.no-css) .typing-indicator {
  position: relative;
  float: right;
  clear: both;
  margin-top: 0.5em;
  border-radius: 1.0625em;
  line-height: 1.3;
  font-family: Helvetica;
}

.example-component:not(.no-css) .message-bubble.reply,
.example-component:not(.no-css) .typing-indicator {
  background-color: #e5e5ea;
  color: #020202;
  float: left;
}

.example-component:not(.no-css) .message-bubble {
  padding: 0.5em 0.75em;
  max-width: -webkit-calc(100% - 7em);
  max-width: calc(100% - 7em);
  background-color: #1983fa;
  color: white;
}

.example-component:not(.no-css) .message-bubble.reply .message-bubble-whale-tail {
  right: auto;
  left: -0.5184em;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.example-component:not(.no-css) .message-bubble.reply .message-bubble-whale-tail path {
  fill: #e5e5ea;
}

.example-component:not(.no-css) .message-bubble.no-tail .message-bubble-whale-tail {
  display: none;
}

.example-component:not(.no-css) .message-bubble.reply + .message-bubble.reply {
  margin-top: 0.25em;
}

.example-component:not(.no-css) .message-bubble:not(.reply) + .message-bubble:not(.reply) {
  margin-top: 0.25em;
}

.example-component:not(.no-css) .message-bubble.return {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
}

.example-component:not(.no-css) .message-bubble.return .message-bubble-timestamp {
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.example-component:not(.no-css) .message-bubble.temp-hide {
  visibility: hidden;
  -webkit-transition: none;
  transition: none;
}

.example-component:not(.no-css) .message-bubble .message-bubble-inner {
  max-width: 18em;
}

.example-component:not(.no-css) .message-bubble p:first-of-type {
  margin-top: 0;
}

.example-component:not(.no-css) .message-bubble p:last-of-type {
  margin-bottom: 0;
}

.example-component:not(.no-css) .message-bubble .message-bubble-whale-tail {
  position: absolute;
  right: -0.5616em;
  bottom: 0;
  display: block !important;
  width: 1.08em;
  height: 0.90309em;
}

.example-component:not(.no-css) .message-bubble .message-bubble-whale-tail path {
  fill: #1983fa;
}

.example-component:not(.no-css) .message-bubble .message-bubble-timestamp {
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 7em;
  opacity: 0;
  color: #bebebe;
  font-size: 0.8em;
  text-align: center;
}

.example-component:not(.no-css) .message-bubble-heading {
  padding: 2em 0 0;
  margin: 0;
  clear: both;
  font-family: Helvetica;
  text-align: center;
  font-size: 0.8em;
  color: #bebebe;
  font-weight: normal;
}

.example-component:not(.no-css) .message-bubble-heading .message-bubble-date {
  font-weight: bold;
  color: #a5a5a5;
}

.example-component:not(.no-css) .typing-indicator {
  padding: 0.8em 1.6em;
}

.example-component:not(.no-css) .typing-indicator:before,
.example-component:not(.no-css) .typing-indicator:after {
  content: '';
  display: block;
  position: absolute;
  height: 0.8em;
  width: 0.8em;
  border-radius: 0.8em;
  left: -0.15em;
  bottom: -0.15em;
  background-color: #e5e5ea;
}

.example-component:not(.no-css) .typing-indicator:after {
  height: 0.45em;
  width: 0.45em;
  left: -0.5em;
  bottom: -0.5em;
}

.example-component:not(.no-css) .notification-device {
  height: 20em;
  width: 100%;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
}

.example-component:not(.no-css) .notification-ios {
  font-family: "Helvetica Neue";
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  width: 100%;
  top: -4em;
  left: 0;
  padding-top: 4em;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.example-component:not(.no-css) .notification-ios.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.example-component:not(.no-css) .notification-ios.dragging {
  -webkit-transition: none;
  transition: none;
}

.example-component:not(.no-css) .notification-ios.dragging .notification-wrapper,
.example-component:not(.no-css) .notification-ios.dragging .notification-handle,
.example-component:not(.no-css) .notification-ios.dragging .notification-actions {
  -webkit-transition: none;
  transition: none;
}

.example-component:not(.no-css) .notification-ios .notification-content {
  padding: 0.5em;
}

.example-component:not(.no-css) .notification-ios .notification-content * {
  margin: 0;
}

.example-component:not(.no-css) .notification-ios .notification-message {
  max-height: 3em;
  overflow: scroll;
}

.example-component:not(.no-css) .notification-ios .notification-wrapper {
  position: relative;
  padding-bottom: 1.85em;
  -webkit-transition: padding-bottom 0.3s ease;
  transition: padding-bottom 0.3s ease;
}

.example-component:not(.no-css) .notification-ios .notification-handle {
  position: absolute;
  bottom: 0.3em;
  height: 0.4em;
  width: 3.2em;
  margin-left: -1.6em;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.2em;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.example-component:not(.no-css) .notification-ios .notification-icon {
  height: 1.5em;
  width: 1.5em;
  float: left;
  margin-bottom: 3em;
  background-image: url(http://icons.iconarchive.com/icons/wineass/ios7-redesign/512/Messages-icon.png);
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}

.example-component:not(.no-css) .notification-ios .notification-actions {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.75em 0.5em;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.example-component:not(.no-css) .notification-ios .notification-actions.switching-out {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0 !important;
}

.example-component:not(.no-css) .notification-ios .notification-actions.switching-in {
  -webkit-transition: opacity 0.3s 0.2s ease;
  transition: opacity 0.3s 0.2s ease;
  opacity: 1;
}

.example-component:not(.no-css) .notification-ios .notification-actions .notification-action {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 1em;
  -ms-flex: 1 1 1em;
  flex: 1 1 1em;
}

.example-component:not(.no-css) .notification-ios .notification-actions .notification-action:not(:first-of-type) {
  margin-left: 0.5em;
}

.example-component:not(.no-css) .notification-ios .notification-actions button,
.example-component:not(.no-css) .notification-ios .notification-actions input {
  border: none;
  border-radius: 0.25em;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
  display: inline-block;
}

.example-component:not(.no-css) .notification-ios .notification-actions button {
  text-align: center;
  cursor: pointer;
}

.example-component:not(.no-css) .notification-ios .notification-actions .button *,
.example-component:not(.no-css) .notification-ios .notification-actions .submit * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.example-component:not(.no-css) .notification-ios .notification-actions .button button {
  background-color: rgba(255, 255, 255, 0.45);
}

.example-component:not(.no-css) .notification-ios .notification-actions .button button:hover,
.example-component:not(.no-css) .notification-ios .notification-actions .button button:active,
.example-component:not(.no-css) .notification-ios .notification-actions .button button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.25);
}

.example-component:not(.no-css) .notification-ios .notification-actions .submit {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 0 !important;
}

.example-component:not(.no-css) .notification-ios .notification-actions .submit input {
  background-color: transparent;
  width: auto;
  font-weight: bold;
  padding-right: 0;
}

.example-component:not(.no-css) .notification-ios .notification-actions input[type=text] {
  background-color: rgba(255, 255, 255, 0.2);
}

.example-component:not(.no-css) .notification-ios .notification-actions input[type=text]:focus,
.example-component:not(.no-css) .notification-ios .notification-actions input[type=text]:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.example-component:not(.no-css) .notification-device {
  background-image: url(http://www.macitynet.it/wp-content/uploads/2014/06/Schermata-2014-06-03-alle-11.47.39.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.example-component:not(.no-css) .notification-mac {
  font-family: "Helvetica Neue";
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 0.5em;
  width: 90%;
  margin: 1em auto;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-width: 25em;
}

.example-component:not(.no-css) .notification-mac .notification-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.example-component:not(.no-css) .notification-mac .notification-icon {
  height: 2em;
  width: 2em;
  background-image: url(http://icons.iconarchive.com/icons/wineass/ios7-redesign/512/Messages-icon.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.75em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.example-component:not(.no-css) .notification-mac .notification-content {
  padding: 0.75em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.example-component:not(.no-css) .notification-mac .notification-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.example-component:not(.no-css) .notification-mac .notification-text * {
  margin: 0;
}

.example-component:not(.no-css) .notification-mac .notification-actions {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex: 0;
  flex-grow: 0;
  border-left: 1px solid rgba(179, 179, 179, 0.45);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.example-component:not(.no-css) .notification-mac .notification-actions .notification-action {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  width: 100%;
}

.example-component:not(.no-css) .notification-mac .notification-actions .notification-action:not(:last-of-type) {
  border-bottom: 1px solid rgba(179, 179, 179, 0.45);
}

.example-component:not(.no-css) .notification-mac .notification-actions button {
  outline: none;
  background: none;
  color: rgba(0, 0, 0, 0.45);
  border: none;
  border-radius: 0.25em;
  text-align: center;
  font-size: 1em;
  width: 100%;
  cursor: pointer;
  padding: 0.6em 1em;
  line-height: 1;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 0.9em;
}

.example-component:not(.no-css) .segmented-control {
  border-radius: 0.35em;
  text-align: center;
}

.example-component:not(.no-css) .segmented-option {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  position: relative;
  border: 1px solid #0b61ff;
  color: #0b61ff;
  width: 8em;
  max-width: 33%;
  font-size: 0.8em;
  overflow: hidden;
}

.example-component:not(.no-css) .segmented-option:not(:first-of-type) {
  margin-left: -5px;
}

.example-component:not(.no-css) .segmented-option:first-of-type {
  border-radius: 0.35em 0 0 0.35em;
}

.example-component:not(.no-css) .segmented-option:last-of-type {
  border-radius: 0 0.35em 0.35em 0;
}

.example-component:not(.no-css) .segmented-option label {
  display: block;
  text-align: center;
  padding: 0.5em 0.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}

.example-component:not(.no-css) .segmented-option input {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.example-component:not(.no-css) .segmented-option input:checked + label {
  background-color: #0b61ff;
  color: white;
}

.example-component:not(.no-css) .toggle-switch {
  display: inline-block;
  position: relative;
  border-radius: 2em;
}

.example-component:not(.no-css) .toggle-switch:focus {
  -webkit-box-shadow: 0 0 3px 2px #a1cdff;
  box-shadow: 0 0 3px 2px #a1cdff;
  outline: none;
}

.example-component:not(.no-css) .toggle-switch:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.example-component:not(.no-css) .toggle-switch input {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.example-component:not(.no-css) .toggle-switch input + label {
  display: block;
  height: 2em;
  width: 3.5em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  border: 2px solid transparent;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.1);
  text-indent: -200em;
  -webkit-transition: background-color 0.45s ease;
  transition: background-color 0.45s ease;
}

.example-component:not(.no-css) .toggle-switch input:checked + label {
  background-color: #4cd65d;
}

.example-component:not(.no-css) .toggle-switch input:checked + label .toggle-switch-thumb {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
}

.example-component:not(.no-css) .toggle-switch input:checked + label .toggle-switch-accent {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.example-component:not(.no-css) .toggle-switch input:disabled + label {
  opacity: 0.4;
}

.example-component:not(.no-css) .toggle-switch .toggle-switch-accent,
.example-component:not(.no-css) .toggle-switch .toggle-switch-thumb {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 2em;
  width: 2em;
  background-color: white;
  border-radius: 2em;
  -webkit-transition: -webkit-transform 0.45s ease;
  transition: transform 0.45s ease;
}

.example-component:not(.no-css) .toggle-switch .toggle-switch-accent {
  width: 3.5em;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 60% 50%;
  -ms-transform-origin: 60% 50%;
  transform-origin: 60% 50%;
}

.example-component:not(.no-css) .toggle-switch .toggle-switch-thumb {
  background-color: white;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition-timing-function: cubic-bezier(0.37, 1.65, 0.305, 0.855);
  transition-timing-function: cubic-bezier(0.37, 1.65, 0.305, 0.855);
}