%div.toggle-switch{:"tab-index" => "0"}
  %input#toggle-switch{:type => "checkbox", :name => "toggle-switch", :tabindex => "-1"}
  %label.toggle-switch__container{:for => "toggle-switch"}
    %div.toggle-switch__accent
    %div.toggle-switch__thumb
