%div.toggle-switch{:"tab-index" => "0"}
    %input#toggle-switch{:type => "checkbox", :name => "toggle-switch", :tabindex => "-1"}
    %label.toggle-switch-main{:for => "toggle-switch"}
        %div.toggle-switch-accent
        %div.toggle-switch-thumb