$sidebar-width: 25%;
$sidebar-min-width: 12em;
$sidebar-switcher: ($sidebar-min-width*100%/$sidebar-width);

%clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}