//                    ___          ___          ___
//        ___        /  /\        /  /\        /  /\
//       /__/\      /  /::\      /  /::\      /  /:/_
//       \  \:\    /  /:/\:\    /  /:/\:\    /  /:/ /\
//        \  \:\  /  /:/~/::\  /  /:/~/:/   /  /:/ /::\
//    ___  \__\:\/__/:/ /:/\:\/__/:/ /:/___/__/:/ /:/\:\
//   /__/\ |  |:|\  \:\/:/__\/\  \:\/:::::/\  \:\/:/~/:/
//   \  \:\|  |:| \  \::/      \  \::/~~~~  \  \::/ /:/
//    \  \:\__|:|  \  \:\       \  \:\       \__\/ /:/
//     \__\::::/    \  \:\       \  \:\        /__/:/
//         ~~~~      \__\/        \__\/        \__\/

$message-bubble-background-color: rgb(25, 131, 250);
$message-bubble-green-background-color: rgb(81, 198, 38);
$message-bubble-text-color: rgb(255, 255, 255);
$message-bubble-reply-background-color: rgb(229, 229, 234);
$message-bubble-reply-text-color: rgb(2, 2, 2);

$message-bubble-max-width: 18em;
$message-bubble-width: 80%;
$message-bubble-padding: 0.5em 0.75em;
$message-bubble-margin-top: 0.5em;

$message-bubble-extra-info-color: rgb(190, 190, 190);
$message-bubble-extra-info-font-size: 0.8em;
$message-bubble-timestamp-width: 7em;

// Total size with fully rounded corners appears to be
// roughly 34 px, so 1/2 (15px) on each border
$message-bubble-border-radius: #{(17/16)}em;
$message-bubble-tail-width: 0.06*$message-bubble-max-width;

// Tail .svg size-related variables
$message-bubble-tail-default-width: 116.42;
$message-bubble-tail-default-height: 97.35;
$message-bubble-tail-aspect-ratio: ($message-bubble-tail-default-width/$message-bubble-tail-default-height);
$message-bubble-tail-start-point-x: (63.84/$message-bubble-tail-default-width);
$message-bubble-tail-horizontal-offset: (-$message-bubble-tail-width*$message-bubble-tail-start-point-x);


//        ___                    ___                     ___          ___
//       /__/\       ___        /__/|       ___         /__/\        /  /\
//      |  |::\     /  /\      |  |:|      /  /\        \  \:\      /  /:/_
//      |  |:|:\   /  /:/      |  |:|     /  /:/         \  \:\    /  /:/ /\
//    __|__|:|\:\ /__/::\    __|__|:|    /__/::\     _____\__\:\  /  /:/ /::\
//   /__/::::| \:\\__\/\:\__/__/::::\____\__\/\:\__ /__/::::::::\/__/:/ /:/\:\
//   \  \:\~~\__\/   \  \:\/\  ~\~~\::::/   \  \:\/\\  \:\~~\~~\/\  \:\/:/~/:/
//    \  \:\          \__\::/   |~~|:|~~     \__\::/ \  \:\  ~~~  \  \::/ /:/
//     \  \:\         /__/:/    |  |:|       /__/:/   \  \:\       \__\/ /:/
//      \  \:\        \__\/     |  |:|       \__\/     \  \:\        /__/:/
//       \__\/                  |__|/                   \__\/        \__\/

// MIXIN
// color-message-bubble()
// -----------------------------------------------------------------------------------------

// SUMMARY
// -----------------------------------------------------------------------------------------
// Does the required declarations to change the color of message bubbles.

// PARAMETERS
// -----------------------------------------------------------------------------------------
// $color:       The background color you'd like for the message bubble.
// $parent:      A parent element that must be present for the message bubble to take on
//               this background color (optional).

@mixin color-message-bubble($color, $parent: NULL) {
    $selector: ".message-bubble";
    @if $parent != NULL {
        $selector: "#{unquote($parent)} .message-bubble";
    }

    #{unquote($selector)} {
        background-color: $color;

        .message-bubble-whale-tail path {
            fill: $color;
        }
    }
}

$basic-spring-x1:       0.370; // first point, x-coordinate
$basic-spring-y1:       1.650; // first point, y-coordinate
$basic-spring-x2:       0.305; // second point, x-coordinate
$basic-spring-y2:       0.855; // second point, y-coordinate

// Construction of the actual cubic-bezier function. Use this to define the
// transition-timing-function property in your Sass code.

$basic-spring:          cubic-bezier(#{$basic-spring-x1},
                                     #{$basic-spring-y1},
                                     #{$basic-spring-x2},
                                     #{$basic-spring-y2});



//        ___          ___          ___                   ___                     ___
//       /  /\        /  /\        /__/\         ___     /  /\       ___         /__/\
//      /  /:/       /  /::\       \  \:\       /  /\   /  /::\     /  /\        \  \:\
//     /  /:/       /  /:/\:\       \  \:\     /  /:/  /  /:/\:\   /  /:/         \  \:\
//    /  /:/  ___  /  /:/  \:\  _____\__\:\   /  /:/  /  /:/~/::\ /__/::\     _____\__\:\
//   /__/:/  /  /\/__/:/ \__\:\/__/::::::::\ /  /::\ /__/:/ /:/\:\\__\/\:\__ /__/::::::::\
//   \  \:\ /  /:/\  \:\ /  /:/\  \:\~~\~~\//__/:/\:\\  \:\/:/__\/   \  \:\/\\  \:\~~\~~\/
//    \  \:\  /:/  \  \:\  /:/  \  \:\  ~~~ \__\/  \:\\  \::/         \__\::/ \  \:\  ~~~
//     \  \:\/:/    \  \:\/:/    \  \:\          \  \:\\  \:\         /__/:/   \  \:\
//      \  \::/      \  \::/      \  \:\          \__\/ \  \:\        \__\/     \  \:\
//       \__\/        \__\/        \__\/                 \__\/                   \__\/

.message-bubble-container {
    border: 1px solid black;
    padding: 1em;
    overflow: hidden;

    // Clearfix
    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .message-bubble { float: right; clear: both; }
    .message-bubble.reply { float: left; }
}



//                     ___                                                 ___
//       _____        /__/\        _____        _____                     /  /\
//      /  /::\       \  \:\      /  /::\      /  /::\                   /  /:/_
//     /  /:/\:\       \  \:\    /  /:/\:\    /  /:/\:\   ___     ___   /  /:/ /\
//    /  /:/~/::\  ___  \  \:\  /  /:/~/::\  /  /:/~/::\ /__/\   /  /\ /  /:/ /:/_
//   /__/:/ /:/\:|/__/\  \__\:\/__/:/ /:/\:|/__/:/ /:/\:|\  \:\ /  /://__/:/ /:/ /\
//   \  \:\/:/~/:/\  \:\ /  /:/\  \:\/:/~/:/\  \:\/:/~/:/ \  \:\  /:/ \  \:\/:/ /:/
//    \  \::/ /:/  \  \:\  /:/  \  \::/ /:/  \  \::/ /:/   \  \:\/:/   \  \::/ /:/
//     \  \:\/:/    \  \:\/:/    \  \:\/:/    \  \:\/:/     \  \::/     \  \:\/:/
//      \  \::/      \  \::/      \  \::/      \  \::/       \__\/       \  \::/
//       \__\/        \__\/        \__\/        \__\/                     \__\/

.message-bubble {
    // POSITION
    position: relative;

    // DISPLAY AND SIZING
    max-width: calc(100% - #{$message-bubble-timestamp-width});
    padding: $message-bubble-padding;
    margin-top: $message-bubble-margin-top;

    // BACKDROP
    background-color: $message-bubble-background-color;
    border-radius: $message-bubble-border-radius;

    // TEXT
    color: $message-bubble-text-color;
    line-height: 1.3;
    font-family: Helvetica;

    // ADJUSTMENTS

    &.reply {
        background-color: $message-bubble-reply-background-color;
        color: $message-bubble-reply-text-color;

        .message-bubble-whale-tail {
            right: auto;
            left: $message-bubble-tail-horizontal-offset;
            transform: scaleX(-1); // flip horizontally

            path { fill: $message-bubble-reply-background-color; }
        }
    }

    &.no-tail .message-bubble-whale-tail { display: none; }

    // Select replies directly following other replies
    &.reply + .message-bubble.reply {
        margin-top: ($message-bubble-margin-top/2);
    }

    // Select non-replies directly following other non-replies
    &:not(.reply) + .message-bubble:not(.reply) {
        margin-top: ($message-bubble-margin-top/2);
    }

    // For post-drag transitions
    &.return {
        transition: transform 0.4s ease;

        .message-bubble-timestamp { transition: opacity 0.4s ease, transform 0.4s ease; }
    }



    .message-bubble-inner {
        // Constrain the message bubble to a reasonable size
        max-width: $message-bubble-max-width;
    }

    p {
        // Prevent extra top/ bottom padding within bubble
        &:first-of-type { margin-top: 0; }
        &:last-of-type { margin-bottom: 0; }
    }

    // The little tail indicating directionality of the bubble
    .message-bubble-whale-tail {
        // POSITION
        position: absolute;
        right: $message-bubble-tail-horizontal-offset;
        bottom: 0;

        // DISPLAY AND SIZING
        width: $message-bubble-tail-width;
        height: $message-bubble-tail-width / $message-bubble-tail-aspect-ratio;

        path { fill: $message-bubble-background-color; }
    }

    // The time at which the message was sent/ received
    .message-bubble-timestamp {
        // POSITION
        position: absolute;
        left: 100%; top: 50%;
        transform: translateY(-50%);

        // DISPLAN AND SIZING
        display: block;
        width: $message-bubble-timestamp-width;

        // BACKDROP
        opacity: 0;

        // TEXT
        color: $message-bubble-extra-info-color;
        font-size: $message-bubble-extra-info-font-size;
        text-align: center;
    }
}



//        ___          ___          ___         _____                    ___          ___
//       /__/\        /  /\        /  /\       /  /::\      ___         /__/\        /  /\
//       \  \:\      /  /:/_      /  /::\     /  /:/\:\    /  /\        \  \:\      /  /:/_
//        \__\:\    /  /:/ /\    /  /:/\:\   /  /:/  \:\  /  /:/         \  \:\    /  /:/ /\
//    ___ /  /::\  /  /:/ /:/_  /  /:/~/::\ /__/:/ \__\:|/__/::\     _____\__\:\  /  /:/_/::\
//   /__/\  /:/\:\/__/:/ /:/ /\/__/:/ /:/\:\\  \:\ /  /:/\__\/\:\__ /__/::::::::\/__/:/__\/\:\
//   \  \:\/:/__\/\  \:\/:/ /:/\  \:\/:/__\/ \  \:\  /:/    \  \:\/\\  \:\~~\~~\/\  \:\ /~~/:/
//    \  \::/      \  \::/ /:/  \  \::/       \  \:\/:/      \__\::/ \  \:\  ~~~  \  \:\  /:/
//     \  \:\       \  \:\/:/    \  \:\        \  \::/       /__/:/   \  \:\       \  \:\/:/
//      \  \:\       \  \::/      \  \:\        \__\/        \__\/     \  \:\       \  \::/
//       \__\/        \__\/        \__\/                                \__\/        \__\/

.message-bubble-heading {
    // DISPLAY AND SIZING
    padding: 2em 0 0;
    margin: 0;
    clear: both;

    // TEXT
    font-family: Helvetica;
    text-align: center;
    font-size: $message-bubble-extra-info-font-size;
    color: $message-bubble-extra-info-color;
    font-weight: normal;

    .message-bubble-date {
        font-weight: bold;
        color: darken($message-bubble-extra-info-color, 10%);
    }
}