- path_color = "#AOAOAO"
- path = "M67.39,79.03 C84.24,104.95 116.42,115.32 116.42,115.32 C116.42,115.32 73.88,124.39 46.66,115.32 C19.44,106.24 0,79.03 0,79.03 L0,-0.227279902 L51.8400002,-0.227279902 L51.84,22 C51.84,22 50.54,53.1 67.39,79.03 Z"

%div.message-bubble-container
    %div.message-bubble
        %div.message-bubble-inner
            Here is the message
            %svg.message-bubble-whale-tail{:width => "116px", :height => "119px", :viewbox => "0 0 116 119", :version => "1.1", :xmlns => "http://www.w3.org/2000/svg", :"enable-background" => "new 0 0 116.42 97.35", :"xml:space" => "preserve"}
                %path{:fill => path_color,:d => path}