%div.segmented-control
    %div.segmented-option
        %input#segmented-option-1{:type => "radio", :name => "segmented-control"}
            %label{:for => "segmented-option-1"} Option 1
    %div.segmented-option
        %input#segmented-option-2{:type => "radio", :name => "segmented-control"}
            %label{:for => "segmented-option-2"} Option 2
    %div.segmented-option
        %input#segmented-option-3{:type => "radio", :name => "segmented-control"}
            %label{:for => "segmented-option-3"} Option 3