<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="example-device.css">
    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="example-device.js"></script>

    <style>
        .content {
            padding: 0 1em;
        }
    </style>
</head>

<body>

<div class="content">
    <h3>Solitude and Leadership</h3>
    <p>Like the manager, the head of my department had no genius for organizing or initiative or even order, no particular learning or intelligence, no distinguishing characteristics at all. Just the ability to keep the routine going, and beyond that, as Marlow says, her position had come to her &mdash; why?</p>
    <p>It means gathering yourself together into a single point rather than letting yourself be dispersed everywhere into a cloud of electronic and social input. It seems to me that Facebook and Twitter and YouTube are all ultimately just an elaborate excuse to run away from yourself. To avoid the difficult and troubling questions that being human throws in your way. Am I doing the right thing with my life? Do I believe the things I was taught as a child? What do the words I live by&mdash;words like duty, honor, and country&mdash;really mean? Am I happy?</p>
</div>

<script type="text/javascript">
var edc = new ExampleDeviceController;
edc.add({content: ".content"});
</script>

</body>