// example-device: container of all other pieces
// example-device::before: iphone speaker
// example-device-ratiometer: maintains the proper proportions for frame, frame color
// example-device-ratiometer::before: camera
// example-device-ratiometer::after: home button
// example-device-content-wrapper: the background of the content
// example-device-content: The container for the actual content

$device-speaker-width: 2.6em;
$device-speaker-height: 0.6em;
$device-border-radius: 2em;
$device-camera-size: 0.6em;
$device-home-button-size: 2.4em;
$device-content-background-color: white;

$device-iphone-width: 15em;
$device-iphone-side-frame-size: (2.75/55.76*100%);
$device-iphone-top-frame-size: (15.25/123.83*100%);
$device-iphone-height-to-width-ratio: (4.87/2.31);

$device-ipad-width: 25em;
$device-ipad-top-frame-size: 3em;
$device-ipad-side-frame-size: 0.75em;
$device-ipad-height-to-width-ratio: 1.33;

$default-transition-length: 0.3s;
$default-transition-easing: ease;

$device-transition-cutoff-point: 30em;

$device-iphone-class: device-iphone;
$device-ipad-class: device-ipad;
$device-both-class: device-transform;

$device-flat-style-class: style-flat;
$device-realistic-style-class: style-realistic;


@mixin after($point) {
    @media screen and (min-width: #{$point}) { @content; }
}

@mixin default-transition($properties...) {
    @if length($properties) == 0 { $properties: all; }

    transition-property: $properties;
    transition-duration: $default-transition-length;
    transition-timing-function: $default-transition-easing;
}

@mixin ipad-version($same-level: false) {
    @if $same-level == true {
        &.#{$device-both-class} {
            @include after($device-transition-cutoff-point) {
                @content;
            }
        }

        &.#{$device-ipad-class} { @content; }
    }

    @else {
        .#{$device-both-class} & {
            @include after($device-transition-cutoff-point) {
                @content;
            }
        }

        .#{$device-ipad-class} & { @content; }
    }
}

%centered-pseudo-content {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
}




// Container
.example-device {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $device-iphone-width;
    @include default-transition(max-width);

    @include ipad-version(true) { max-width: $device-ipad-width; }






    // Speaker
    &:before {
        @extend %centered-pseudo-content;
        width: $device-speaker-width;
        height: $device-speaker-height;
        border-radius: (0.5*$device-speaker-height);
        margin-left: (-0.5*$device-speaker-width);
        @include default-transition(opacity);
    }

    @include ipad-version(true) {
        &:before { opacity: 0; }
    }

    // &:before {
    //     background-color: rgba(black, 0.2);
    //     border-radius: 0.3em;
    //     top: 2.5em;
    //     z-index: 10;
    // }






    * { box-sizing: border-box; }
}



// Frame
.example-device-ratiometer {
    width: 100%;
    border-radius: $device-border-radius;
    overflow: hidden;
    position: relative;
    padding-bottom: ($device-iphone-height-to-width-ratio*100%);
    @include default-transition(padding-bottom);

    @include ipad-version {
        padding-bottom: ($device-ipad-height-to-width-ratio*100%);
    }

    &:before,
    &:after {
        @extend %centered-pseudo-content;
        border-radius: 100%;
    }

    &:before {
        height: $device-camera-size;
        width: $device-camera-size;
        margin-left: (-0.5*$device-camera-size);
    }

    &:after {
        height: $device-home-button-size;
        width: $device-home-button-size;
        margin-left: (-0.5*$device-home-button-size);
    }

    // .example-device-ratiometer {
    //     background-color: rgb(60, 60, 60);
    //     z-index: 5;

    //     &:before, &:after {
    //         background-color: rgba(black, 0.2);
    //     }

    //     &:before {
    //         top: 1.25em;
    //     }

    //     &:after {
    //         bottom: 1.7em;

    //         @include default-transition(all);

    //         @include after($max-page-menu-width) {
    //             height: 1.7em;
    //             width: 1.7em;
    //             bottom: 1.25em;
    //             margin: 0 0 -0.85em -0.85em;
    //         }
    //     }
    // }
}



// Content background
.example-device-content-wrapper {
    position: absolute;
    top: $device-iphone-top-frame-size;
    bottom: $device-iphone-top-frame-size;
    left: $device-iphone-side-frame-size;
    right: $device-iphone-side-frame-size;
    padding: 0;
    background-color: $device-content-background-color;

    @include ipad-version {
        top: $device-ipad-top-frame-size;
        bottom: $device-ipad-top-frame-size;
        left: $device-ipad-side-frame-size;
        right: $device-ipad-side-frame-size;
    }
}



// Content
.example-device-content {
    height: 100%;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}




.example-device.#{$device-flat-style-class} {
    .example-device-ratiometer {
        background-color: rgb(60, 60, 60);
    }
}