%div.component-actions
    - ["Requires", "Source", "API"].each do |action|
        %button.component-action{:class => action.downcase.gsub(" ", "-"), :data => {"component-detail" => action.downcase.gsub(/\s+/, "-")}}
            %div.component-action-icon
            %div.component-action-label= action