%div.component-actions
  - ["Requires", "Source", "API"].each do |action|
    - action_class = action.downcase.gsub(/\s+/, "-")
    %button.component-action{ :class => action_class, :"data-component-detail" => action_class }
      %div.component-action-icon
      %div.component-action-label= action
