%div.download-links
    %a.download-link{href: "downloads/#{component_file}.zip"}
        %span Download the <strong>#{component}</strong> Component
    %div.download-image{src: "/img/download.png"}
    %a.download-link{href: "/download"}
        %span Create a Custom Download
