%div.example-components
  %h3
    %span< Playground
    %button.example-css-toggle (try it without CSS)
  %div.example-component
    %div.resizable
      %div.resizable-container<
        = html
      %div.resizable-handle
