- title ||= "uxkit"
- icon_class = "#{title.downcase.gsub /\s+/, "-"}-icon"

%header.page-header
    %nav
        %ul
            %li
                %a.sidebar-toggle{:href => "#"}
                    Menu
                    %span
    %h1= title
    %div.page-icon
        %div{"class" => icon_class}
