- statements ||= []
- comments ||= []
- example_commands ||= []

%script{type: "text/javascript"}
    - statements.each do |statement|
        #{statement}

%div.playground
    %div.playground-output
        %pre
            %code
                = preserve do
                    %div.initial-variables<
                        - comments.each do |comment|
                            %div> // #{comment}

    %input.playground-input{type: "text", placeholder: "Try out commands here", spellcheck: "false"}
    %div.example-commands
        %h4 Example Commands
        %div.example-command-buttons
            - example_commands.each do |command|
                %button.example-command{"data-command" => command[1]}= command[0]